/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --main-color-location: #1E3150;
    --black: black;
    --white: white;
    --borderColor: #D9D9D9;
    --filtersLiI: #0165fc;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--filtersLiI);
    cursor: pointer;
    text-decoration: none;
}

a:focus {
    color: var(--main-color-location);
    text-decoration: none;
}

a:visited {
    color: var(--main-color);
    text-decoration: none;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    box-sizing: border-box;
    max-width: 1440px;
    padding: 0 50px;
    width: 100%;
}

.section-title {
    font-size: 1.375em;
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 5px;
}

.card-title {
    font-size: 1em;
}

.card-subtitle {
    font-size: 0.875em;
}

.euro {
    font-weight: 700;
}

img {
    object-fit: cover;
}

.neutral-star {
    color: var(--main-bg-color)
}

section {
    margin-top: 30px;
}

/**********  Header ************/
.header {
    height: 79px;
    margin-bottom: 30px;
}

.header img {
    height: 19px;
    padding: 30px 50px 30px 0;
}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 68px;
    height: 4.94em;
    margin-left: 25px;
    margin-right: -25px;
}

.header ul li {
    display: flex;
    gap: 78px;
    height: 4.94em;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav li a {
    color: var(--black);
    text-decoration: none;
}

nav li a:hover {
    color: var(--main-color);
    text-decoration: none;
}

nav li:hover {
    border-top: 2px solid var(--main-color);
    text-decoration: none;
}

/********** groupInfo  **********/
::placeholder {
    color: var(--black);
}

.filters {
    display: grid;
    font-size: 18px;
    font-weight: 700;
}

.filtersLi a {
    align-items: center;
    border: 2px solid var(--borderColor);
    border-radius: 25px;
    color: var(--black);
    display: flex;
    font-size: 1.0625em;
    height: 2.355em;
    padding: 4px 19px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

.filtersLi a:hover {
    background-color: var(--filter-bg-color);
}

.filtersLi a i {
    color: var(--filtersLiI);
    height: 1.375em;
    margin-right: 10px;
    margin-top: 5px;
    width: 1.375em;
}  

.filtersLi-block {
    flex-wrap: wrap;
    font-weight: 700;
    margin: unset;
    margin-block-end: 35px;
    
}

.filtersLi-block ul {
    display: inline-flex;
}

.filtersLi {
    display: block;
    float: left;
    height: 2.875em;
    margin-right: 15px;
    padding-top: unset;
}

.filtersLif {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    margin-right: 15px;
    padding-top: unset;
}

.filters ul {
    display: flex;
    margin: unset;
}

form {
    align-items: center;
    display: flex;
}

form input {
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    color: var(--black, #000);
    font-size: 18px;
    font-weight: 700;
    height: 48px;
    text-align: center;
}

.group-info p {
    margin-bottom: 35px;
    margin-top: unset;
}

h1 {
    font-size: 22px;
    margin-bottom: 8PX;
}

i.fa-solid.fa-info {
    color: var(--main-color);
    height: 24px;
    margin-right: unset;
    padding: 2px;
    
}

.icon {
    align-items: center;
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    height: 48px;
    justify-content: center;
    width: 50px;
}

.infoline {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 22px;
}

.infoline div {
    border: 1px solid var(--borderColor);
    border-radius: 50%; 
    height: 1.5em;
    text-align: center;
    width: 1.5em;
}

p.infolineP {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-block-end: unset;
}

.searchBar {
    display: flex;
    margin-bottom: 35px;
}

.searchBar .fa::before {
    background-color: var(--main-color);
    display: none;
}

.searchBar .fa-solid {
    color: var(--main-color-location);
}

.submit {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--white);
    height: 50px;
    margin-left: -3px;
    padding: 15px 16px;
}
    

.submit-magnify {
    background-color: var(--main-color);
    border: var(--main-color);
    border-radius: 15px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
    color: var(--white);
    display: none;
    height: 50px;
    width: 50px;
}

.text {
    padding: unset;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
}

/****** Hebergements ***********/
.afficherPlus {
    font-size: 18px;
    margin-block-start: 30px;
}

h4 {
    margin-block-end: unset;
    margin-block-start: unset;
}

.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
    margin-top: 30px;
}

.hebergements-cards .card {
    position: relative;
}

.hebergements-cards .card-content {
    padding: 4px 15px 15px 15px;
}

.hebergements-cards .card-title {
    margin: unset;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 8px;
    margin-top: 8px;
}

.hebergements-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 6.6875em;
    width: 100%;
}

.hebergements-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards .card-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    width: 67%;
    
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 8.5em;
    width: 33%;
}

.populaires-title {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/****** Activites ******/
.activites {
    margin-top: 35px;
    padding: 30px;
}

.activites-cards {
    display: grid;
    grid-gap: 1.875em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 30px;
}

.activites-cards .card {
    padding-left: unset;
    padding-right: unset;
    padding-top: unset;
    position: relative;
}

.activites-cards .card-content {
    padding: 19px 20px;
}

.activites-cards .card-title {
    margin: unset;
}

.activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    height: 18.75em;
    object-fit: cover;
    width: 100%;
}

/****** Footer ******/
.footer {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;
}

.footer-content {
    padding: 20px;
}

.footer section {
    margin: unset;
}

.footer-title h4 {
    font-size: 18px;
    margin: unset;
}

li {
    list-style-type: none;
    padding-top: 15px;
}

ul {
    margin: unset;
    padding-left: unset;
}

.W3C {
    display: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) and (min-width: 767.99px) {

    /****************** General    *****************/
    .card-title {
        font-size: 0.9em;
    }

    .card-subtitle {
        font-size: 0.8em;
    }

    h4 {
        font-size: 1.125em;
    }

    li {
        font-size: 0.9em;
    }

    /****************** GroupInfo  *****************/
    .filters {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****************** hebergements  ****************/
    .afficherPlus {
        margin-block-end: 30px;
        margin-block-start: 30px;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        white-space: nowrap;
    }

    /****************** Populaires  ****************/
    .populaires {
        margin-top: 50px;
        padding-bottom: 30px;
        width: 100%;
    }

    .populaires-cards {

        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
    }

    /******************  Acitives *******************/
    .activites {
        margin-top: 35px;
    }

    .activites-cards .card-content {
        height: 70px;
    }

    .activites-cards img {
        height: 12.5em;
        object-fit: cover;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /************ header **************** */
    h1 {
        margin-top: unset;
    }

    .header {
        height: unset;
        margin-bottom: unset;
    }

    .header img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }

    .header ul {
        display: flex;
        flex-direction: row;
        gap: unset;
        height: unset;
        justify-content: space-around;
        margin-left: unset;
        margin-right: unset;
    }

    .header ul li {
        border-bottom: 2px solid var(--main-bg-color);
        justify-content: center;
        height: unset;
        padding-bottom: 15px;
        width: 50%;
    }

    .nav {
        display: block;
    }

    .nav li:hover {
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    main {
        padding: 30px 0 30px 0;
    }

    .main-container {
        padding: unset;
    }

    section {
        margin-top: unset;
    }

    /********** groupInfo  **********/
    .filters {
        display: block;
    }

    .filtersLi {
        display: block;
        font-size: 0.875em;
        height: 50px;
        padding-top: 20px;
    }

    .filtersLi a {
        justify-content: center;
        margin: unset;
        padding: 0.25em 1.1875em;
    }

    .filtersLi-block ul {
        display: grid;
    }

    .group-info {
        padding: 0 20px 0 20px;
    }

    .infoline {
        width: 100%;
    }

    .infoline div {
        padding-left: 4px;
        padding-right: 4px;
    }

    .infolineP {
        width: 100%;
    }

    .searchBar .fa::before {
        display: block;
    }

    .submit-magnify {
        display: block;
    }

    .searchBar .submit {
        display: none;
    }

    .ul-filtersLi {
        grid-template-columns: 1fr 1fr;
        margin: unset;
    }

    /**********  hebergements and populaire ***************/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin-block-start: 30px;
        width: 100%;
    }

    .hebergements-and-populaires section {
        padding: 20px;
    }

    /**********  hebergements ***************/
    #hebergements {
        background-color: unset;
        width: 100%;
    }

    .hebergements-cards {
        display: block;
    }

    .hebergements-cards .card {
        margin-top: 15px;
    }

    .hebergements-cards img {
        min-height: 124px;
        object-fit: cover;
    }

    /**************** populaires **************/
    .afficherPlus {
        margin-block-start: 15px;
    }

    .populaires {
        border-radius: unset;
        padding: 30px 20px;
        width: 100%;
    }

    .populaires-cards {
        display: block;
    }

    .populaires-cards .card {
        margin-top: 15px;
        width: 100%;
    }

    /**************** Activités ****************/
    .activites {
        padding: 30px 30px 0 30px;
    }

    .activites-cards {
        grid-template-columns: 1fr;
    }

    #img {
        object-position: 100% 30%;
    }

    /************** footer **********************/
    .footer {
        gap: 50px;
        grid-template-columns: 1fr;
        padding: 30px;
    }

}