/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --main-color-location: #1E3150;
    --black: black;
    --white: white;
    --blueLight: #DEEBFF;
    --borderColor: #D9D9D9;
    --filtersLiI: #0165fc;
    --filtersLiinfo: #0065fc;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 1.375em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
    font-size: 1em;
}
.card-subtitle{
    font-size: 0.875em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

section {
    margin-top: 30px;
}

img {
    object-fit: cover;
   
}

/**********  Header ************/
.header {
    height: 79px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.header img {
    padding: 30px 50px 30px 0;
    height: 19px;
}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 68px;
    height: 79px;
    margin-left: 25px;
    margin-right: -25px;
}

.header ul li {
    display: flex;
    gap: 78px;
    height: 79px;
}

nav li a {
    text-decoration: none;
    color: var(--black);
}

nav li:hover {
    border-top: 2px solid var(--filtersLiinfo);
}

nav li a:hover {
    color: var(--filtersLiinfo);

}

/********** groupInfo  **********/
h1 {
    font-size: 22px;
    margin-bottom: 8PX;
}

.group-info p {
    margin-top: unset;
    margin-bottom: 35px;
}

.searchBar {
    display: flex;
    margin-bottom: 35px;
}

.icon {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    width: 50px;
    height: 48px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid var(--main-bg-color);
}

.searchBar .fa-solid {
    color: var(--main-color-location);
}

form {
    display: flex;
    align-items: center;
}

form input {
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-right: none;
    color: var(--black, #000);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    height: 48px;
}

::placeholder {
    color: var(--black);
}

.text {
    padding: unset;
}

.submit {
    background-color: var(--main-color);
    color: var(--white);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -3px;
    padding: 15px 16px;
    border: 1px solid var(--main-color);
    height: 50px;
}

.filters {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    margin-block-end: 35px;
}

.filters ul {
    display: flex;
    margin: unset;
}

.filtersLif {
    display: flex;
    height: 46px;
    align-items: center;
    margin-right: 15px;
    padding-top: unset;
}

.filtersLi {
    display: block;
    float: left;
    height: 46px;
    margin-right: 15px;
    padding-top: unset;
}


.filtersLi a {
    display: flex;
    height: 38px;
    padding: 4px 19px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--borderColor);
    border-radius: 25px;
    font-size: 17px;
    color: var(--black);
    align-items: center;
    white-space: nowrap;
}

.filtersLi a:hover {
    background-color: var(--blueLight);
}

.filtersLi a i {
    color: var(--filtersLiI);
    margin-right: 10px;
    height: 22px;
    width: 22px;
    margin-top: 5px;
}

.infoline {
    display: flex;
    align-items: center;
    height: 22px;
    gap: 10px;
}

.infoline div {
    border: 1px solid var(--borderColor);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
}

i.fa-solid.fa-info {
    color: var(--filtersLiinfo);
    margin-right: unset;
    padding: 2px;
    height: 24px;
}

p.infolineP {
    margin-block-end: unset;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28%, 1fr));
    grid-gap: 30px;
    margin-top: 30px;
}

.hebergements-cards .card {
    position: relative;
}

.hebergements-cards img {
    width: 100%;
    height: 6.6875em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.hebergements-cards .card-content {
    padding: 4px 15px 15px 15px;
}

.hebergements-cards .card-title {
    margin: unset;
}

.hebergements-cards .card-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
}

.afficherPlus {
    font-size: 18px;
    margin-block-start: 30px;
}
h4{
    margin-block-start: unset;
    margin-block-end: unset;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 8.5em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ******/
.activites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.875em;
    padding-top: 30px;
}

.activites-cards .card {
    position: relative;
    padding-left: unset;
    padding-right: unset;
    padding-top: unset;
    

}

.activites-cards .card-content {
    padding: 19px 20px;
}

.activites-cards .card-title {
    margin: unset;
}

.activites-cards img {
    width: 100%;
    display: flex;
    height: 18.75em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    flex-flow: var(--filter-bg-color);
}

.activites {
    
    margin-top: 35px;
    padding: 30px;
}
/****** Footer ******/
.footer {
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 35px;
}

.footer section {
    margin: unset;
}

.footer-content {
    padding: 20px;
}

.footer-title h4 {
    margin: unset;
    font-size: 18px;
}

ul {
    padding-left: unset;
    margin: unset;
}

li {
    padding-top: 15px;
    list-style-type: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /****************** General    *****************/
    
    .card-title {
        font-size: 0.9em;
    }

    .card-subtitle {
        font-size: 0.8em;
    }

    h4 {
        font-size: 1.125em;
    }
    li{
        font-size: 0.9em;
    }

    /****************** GroupInfo  *****************/
    .filters {
        display: inline-flex;
        flex-direction: column;
        width: 100%;

    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    /****************** hebergements  ****************/
    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        white-space: nowrap;
    }
    .afficherPlus{
        margin-block-start: 30px;
        margin-block-end: 30px;
    }
    

    /****************** Populaires  ****************/
    .populaires {
        width: 100%;
        margin-top: 50px;
        padding-bottom: 30px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }
    /******************  Acitives *******************/
    .activites{
        margin-top: 35px;
    }

    .activites-cards img{
        object-fit: cover;
       height: 12.5em;
        
    }

    
/* Small devices (phones, less than 768px) */
@media (max-width: 850px) {
    /* Traitement image activité */
    .activites-cards img{
        object-fit: cover;
       height: 10em;
        
    }

}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}